.time-line-container>div:last-child .education__time>.education__line {
  display: none;
}
html {
  scroll-behavior: smooth;
}
.menu {
  font-weight: 600;
}
.astro-code.github-dark {
  margin-top: -20px;
  background-color: #24292e; /* 背景色 */
  overflow-x: auto; /* 横向滚动 */
  border-radius: 0 0 8px 8px; /* 圆角边框 */
  padding: 36px 16px 16px 4em; /* 内边距 */
  color: #ffffff; /* 文本颜色 */
  font-family: 'JetBrains Mono Variable', ui-monospace, 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace; /* 字体 */
  position: relative;
}

#toc-box {
  z-index: 5;
  font-weight: 600;
  user-select: none;
  position: fixed;
  bottom: 130px;
  right: 40px;
  background-color: #181920;
  padding: 10px;
  max-height: 300px;
  border-radius: 8px 8px 8px 8px; 
  padding: 16px 16px 16px 16px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease; /* 添加动画效果 */
}
#toc-box.show {
  opacity: 1;
  transform: translateX(0px);
}

#toc-box.hide {
  opacity: 1;
  transform: translateX(500px);
}
#toc-box .toc-number {
  margin-right: 5px;
  color: #bf95f9;
}

#toc-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#toc-box li {
  margin-bottom: 8px;
}
#toc-box a {
  text-decoration: none;
  color: #ffffff; /* Bootstrap primary link color */
  padding: 2px;
  font-size: 1rem;
  display: block;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

/* 根据标题级别添加缩进 */
#toc-box a.level-1 { margin-left: 0; }
#toc-box a.level-2 { margin-left: 20px; }
#toc-box a.level-3 { margin-left: 40px; }
#toc-box a.level-4 { margin-left: 60px; }
#toc-box a.level-5 { margin-left: 80px; }
#toc-box a.level-6 { margin-left: 100px; }

#toc-box a:hover {
  background-color: #2f2f35; /* Bootstrap light background color */
}

#toc-box a.active {
  background-color: #ffffff; /* Bootstrap white background color for selected state */
}
#toc-button {
  z-index: 5;
  position: fixed;
  /* 让按钮固定在页面右下角 */
  bottom: 80px;
  right: 40px;
  background-color: #181920;
  /* 按钮背景颜色 */
  border: none;
  border-radius: 50%;
  /* 让按钮呈现圆形 */
  padding: 10px;
  cursor: pointer;
  width: 40px;
  /* 按钮宽度 */
  height: 40px;
  /* 按钮高度 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* 添加阴影效果 */
  transition: opacity 0.3s ease, transform 0.3s ease; /* 添加动画效果 */
}
#toc-button.show {
  opacity: 1;
  transform: translateX(0px);
}

#toc-button.hide {
  opacity: 1;
  transform: translateX(300px);
}
#back-to-top {
  z-index: 5;
  position: fixed;
  /* 让按钮固定在页面右下角 */
  bottom: 20px;
  right: 40px;
  background-color: #181920;
  /* 按钮背景颜色 */
  border: none;
  border-radius: 50%;
  /* 让按钮呈现圆形 */
  padding: 10px;
  cursor: pointer;
  width: 40px;
  /* 按钮宽度 */
  height: 40px;
  /* 按钮高度 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* 添加阴影效果 */
  transition: opacity 0.3s ease, transform 0.3s ease; /* 添加动画效果 */
}
#back-to-top.show {
  opacity: 1;
  transform: translateX(0px);
}

#back-to-top.hide {
  opacity: 1;
  transform: translateX(500px);
}

.code-wrapper {
  position: relative;
}

.code-block {
  position: relative;
}

.copy {
  user-select: none;
  font-size: 12px;
  font-weight: 600;
  color: #cececc;
  padding: 4px 8px;
  border-radius: 0 8px 0 8px;
  cursor: pointer;
  z-index: 2;
}

.title-bar {
  background-color: #181920;
  padding: 8px 16px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;  /* 使用绝对定位 */
  width: 100%;  /* 使标题栏宽度与父元素相同 */
  top: 0;  /* 确保标题栏位于父元素的顶部 */
  z-index: 1;
}

.button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.close {
  background-color: #ff5f56; /* Red */
}

.minimize {
  background-color: #ffbd2e; /* Yellow */
}

.maximize {
  background-color: #27c93f; /* Green */
}

.codetitle {
  font-size: 16px;
  flex-grow: 1;
  text-align: center;
}

pre {
  counter-reset: line; /* 重置计数器 */
}
pre::before {
  content: '';
  display: block;
  border-left: 1px solid #888; /* 添加左边框，可以根据需要调整 */
  height: 100%; /* 让线的高度覆盖整个 <pre> 元素高度 */
  position: absolute;
  top: 0;
  left: 3em; /* 调整线的位置，可以根据需要调整 */
}
.line {
  counter-increment: line; /* 每行递增计数器的值 */
  position: relative;
}

.line::before {
  content: counter(line); /* 使用计数器的当前值作为行号 */
  position: absolute;
  left: -4em; /* 调整行号的位置，可以根据需要调整 */
  text-align: right;
  color: #888; /* 行号的颜色，可以根据需要调整 */
  user-select: none; /* 防止行号被选择 */
  width: 2em; /* 固定行号的宽度 */
  display: inline-block; /* 使 ::before 元素能够设置宽度 */
  z-index: 3;
}
#content_progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  color: #bf95f9;
}

#content_progress::-webkit-progress-bar {
  background-color: transparent;
}

#content_progress::-webkit-progress-value {
  background-color: #bf95f9;
}

#content_progress::-moz-progress-bar {
  background-color: #bf95f9;
}

.wl-reaction-title {
  color: #cececc;
  /* 文本颜色 */
}

:root {
  /* 字体大小 */
  --waline-font-size: 18px;

  /* 常规颜色 */
  --waline-white: #000;
  --waline-light-grey: #666;
  --waline-dark-grey: #999;

  /* 主题色 */
  --waline-theme-color: #cececc;
  --waline-active-color: #bf95f9;

  /* 布局颜色 */
  --waline-color: #888;
  --waline-bg-color: #181920;
  --waline-bg-color-light: #272727;
  --waline-bg-color-hover: #f0f0f0;
  --waline-border-color: #333;
  --waline-disable-bg-color: #444;
  --waline-disable-color: #272727;
  --waline-code-bg-color: #282c34;

  /* 特殊颜色 */
  --waline-bq-color: #272727;

  /* 头像 */
  --waline-avatar-size: 3.25rem;
  --waline-m-avatar-size: calc(var(--waline-avatar-size) * 9 / 13);

  /* 徽章 */
  --waline-badge-color: #3498db;
  --waline-badge-font-size: 0.775em;

  /* 信息 */
  --waline-info-bg-color: #272727;
  --waline-info-color: #666;
  --waline-info-font-size: 0.625em;

  /* 渲染选择 */
  --waline-border: 1px solid var(--waline-border-color);
  --waline-avatar-radius: 50%;
  --waline-box-shadow: none;

}

 .author-status-box {
  position: absolute;
  bottom: 0;
  left: calc(100% - 28px);
  width: 28px;
  height: 28px;
  border: 1px solid #d0d7de;
  border-radius: 2em;
  background-color: #f8f8f8f8;
  transition: 0.4s;
  overflow: hidden;
}

 .author-status-box {
  background-color: #272935;
  border: 1px solid #cececc;
}

 .author-status-box .author-status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  padding: 5px 5px;
}

 .author-status-box:hover {
  width: 105px;
}

 .author-status-box:hover .author-status span {
  width: 105px;
  margin-left: 4px;
}

 .author-status-box .author-status span {
  width: 0;
  font-size: 12px;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.4s;
}

.card-widget  {
  display: inline-block;
  position: relative;
}