---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalFriendCard.astro";
---

<BaseLayout title="Friends" sideBarActiveItemID="friends">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Friends</div>
  </div>
  <div class="flex flex-wrap">
    <div class="w-1/2">
      <HorizontalCard
        title="Echo 的小窝"
        img="https://yy.liveout.cn/photo/photo2.jpg"
        desc="漂泊于互联网中的小窝"
        badge=""
        url="https://www.liveout.cn/"
      />
      <HorizontalCard
        title="Dash 博客"
        img="https://s1.ax1x.com/2023/07/06/pC6Z3hd.jpg"
        desc="⌈搏海之明辉，何来彼岸？⌋"
        badge=""
        url="https://dashbing.github.io/"
      />
      <HorizontalCard
        title="安知鱼"
        img="https://npm.elemecdn.com/anzhiyu-blog-static@1.0.4/img/avatar.jpg"
        desc="生活明朗，万物可爱"
        badge=""
        url="https://blog.anheyu.com/"
      />
    </div>
    <div class="w-1/2">
      <HorizontalCard
        title="张洪Heo"
        img="https://bu.dusays.com/2022/12/28/63ac2812183aa.png"
        desc="分享设计与科技生活"
        badge=""
        url="https://blog.zhheo.com/"
      />
      <HorizontalCard
        title="ayublog`Blog"
        img="https://ooo.0x0.ooo/2023/10/28/ONobPG.jpg"
        desc="实事求是 坚韧不拔 有志竟成 朝夕不倦"
        badge=""
        url="https://www.maresera.top/"
      />
      <HorizontalCard
        title="Include 的小船"
        img="https://include-xb.github.io/img/header.png"
        desc="潮生理棹，潮平系缆，潮落浩歌归去"
        badge="FD"
        url="https://include-xb.github.io/"
      />
    </div>
  </div>
  <br/>
  <script src="https://giscus.app/client.js"
  data-repo="EveSunMaple/comment"
  data-repo-id="R_kgDOKpZCnA"
  data-category="Announcements"
  data-category-id="DIC_kwDOKpZCnM4CasTx"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="dark"
  data-lang="zh-CN"
  data-loading="lazy"
  crossorigin="anonymous"
  async>
</script>
</BaseLayout>
