---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalLicenseCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">My Projects</div>
  </div>
  <HorizontalCard
  title="Frosti"
  img="https://cdn.jsdelivr.net/gh/EveSunMaple/Frosti@master/index.png"
  desc="个人博客主题！使用 Astro 搭建！"
  url="https://github.com/EveSunMaple/Frosti"
  badge="NEW & HOT"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="InfinitySky"
    img="https://cdn.jsdelivr.net/gh/EveSunMaple/InfinitySky@master/view.png"
    desc="一个全新的 Easy2d 项目，也作为我学习的过程。"
    url="https://github.com/EveSunMaple/InfinitySky"
    badge="WAITING"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="code-judge"
    img="https://cdn.jsdelivr.net/gh/EveSunMaple/code-judge@master/index.png"
    desc="一个简约而不简单的评测机"
    url="https://github.com/EveSunMaple/code-judge"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Word-testing-application"
    img="https://cdn.jsdelivr.net/gh/EveSunMaple/Word-testing-application@master/view.png"
    desc="一个用Python和Tkinter制作的单词测试应用"
    url="https://github.com/EveSunMaple/Word-testing-application"
    badge=""
  />
</BaseLayout>
